{% extends 'base.html' %}
 
{% block content %}
<div class="row">
    <div class="col-12">
        <a href='/form' class="btn btn-primary">Add New</a>
        <br><br>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Plato Favorito</th>
                </tr>
            </thead>
            <tbody>
                {% for client in taco_clients %}
                    <tr>
                        <td>{{ client.id }}</td>
                        <td>{{ client.nombre }}</td>
                        <td>{{ client.plato_favorito }}</td>
                        <td>
                            <a href='/edit-client/{{ client.id }}' class="btn btn-success">Edit</a> | <a href='/delete-client/{{ client.id }}' class="btn btn-danger">Delete</a>  
                        </td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
</div>
 
{% endblock content %}